@import "tailwindcss";

@theme {
  --color-bg: #0B0B0F;
  --color-surface: #14141A;
  --color-brand: #FF4D2E;
  --color-brand-hover: #E6431F;
  --color-accent: #A855F7;

  --font-display: "Bebas Neue", sans-serif;
  --font-sans: "Inter", sans-serif;
}